.ul-sub-banners {
    padding-bottom: clamp(40px, 4.20vw, 80px);

    .ul-inner-container {
        @include xs {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.ul-sub-banner {
    background-color: var(--ul-primary);
    border-radius: clamp(15px, 1.58vw, 30px);
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: clamp(20px, 2.10vw, 40px);
    color: var(--white);
    height: 100%;

    .ul-ad-sub-title {
        margin-bottom: clamp(10px, 0.79vw, 15px);
    }

    &-title {
        font-weight: 600;
        font-size: clamp(21px, 1.26vw, 24px);
        margin-bottom: clamp(2px, 0.26vw, 5px);
        text-transform: uppercase;
    }

    &-descr {
        font-size: clamp(13px, 0.84vw, 16px);
    }

    .top {
        margin-bottom: clamp(86px, 4.68vw, 89px);
    }

    &-btn {
        display: inline-flex;
        gap: 10px;
        color: var(--white);
        text-transform: uppercase;
        font-size: clamp(13px, 0.84vw, 16px);

        &:hover {
            color: var(--black);
        }
    }

    &-img {
        position: absolute;
        right: clamp(15px, 1.58vw, 30px);
        bottom: 0;
        max-width: 42%;
    }

    &--2 {
        background-color: #F39F5F;
    }

    &--3 {
        background-color: #84ABF5;
    }
}